.loadingScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 1s;
}

.loadingContent {
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
}

.loadingBackground {
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: 100%;
  height: 100%;
}

.loadingImage {
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: min(50vw, 300px);
  height: auto;
  object-fit: contain;
}

.loadingImage:first-child {
  animation: growFromBottom 1s ease-in-out;
}

.loadingImage:last-child {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 1s forwards;
}

@keyframes growFromBottom {
  0% {
    transform:translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loadingScreen.loaded {
  opacity: 0;
  pointer-events: none;
}


