.Contact {
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 100px;
}


.Content {
    grid-column: 1/-1;
    grid-row: 1/-1;
    height: 100%;
    display: grid;
    grid-auto-rows: min-content;
    place-items: center;
}

.Title {
    grid-column: 1/-1;
    text-align: center;
}

.Title h1 {
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--font-family-gothic);
}

.Title h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

.Text {
    margin: 40px 0;
    grid-column: 1/-1;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.Container {
    grid-column: 1/-1;
    width: 90vw;
    display: grid;
    place-items: center;
    border-radius: 16px;
    box-shadow: 1px 0 5px 1px #cccccc;
    gap: 20px;
}

.Question {
    width: 81vw;
    display: grid;
}

.red {
    color: red;
}

.ButtonArea {
    display: grid;
}

.Button {
    font-family: var(--font-family-mincho);
    font-size: 1rem;
    background-color: #004b99;
    border: 1px solid #004b99;
    color: #eee;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
}
