.Top {
    margin-bottom: 100px;
    width: 100%;
    height: 100svh;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr;
    animation: fadein 2s ease-in-out 1s forwards;
}
@keyframes fadeout {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Background {
    align-self: start;
    height: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.TextContent {
    z-index: 100;
    padding-top: 15vw;
    width: 80vw;
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    place-items: center;
    
}
.Title {
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    font-family: var(--font-family-gothic);
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    line-height: 1;
}
.SubTitle {
    display: grid;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
}
.AnimeText {
    height: 180px;
    width: 180px;
    display: grid;
    place-items: center;
}
.SurcleText{
    grid-column: 1/-1;
    grid-row: 1/-1;
    height: 100%;
    width: 100%;
    object-fit: contain;
    animation: rotate 20s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.DownArrow{
    grid-column: 1/-1;
    grid-row: 1/-1;
    height: 60px;
    width: 60px;
    object-fit: contain;
}

.ImageContent {
    z-index: 100;
    height: 100%;
    width: 100vw;
    grid-column: 1/-1;
    grid-row: 2/3;
    display: grid;
    place-items: center;
    grid-template-rows: 2fr 1fr;
}

.SmallBoxes {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.MainImage {
    width: 90vw;
    height: calc(100% - 20px);
}

.Loading {
    height: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: 1000;
    display: grid;
    animation-name: fadeout;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    pointer-events: none;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.loadingContent {
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
  }
  
  .loadingBackground {
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: 100%;
    height: 100%;
  }
  
  .loadingImage {
    grid-column: 1/-1;
    grid-row: 1/-1;
    width: min(50vw, 300px);
    height: auto;
    object-fit: contain;
  }
  
  .loadingImage:first-child {
    animation: growFromBottom 1s ease-in-out;
  }
  
  .loadingImage:last-child {
    opacity: 0;
    animation: fadeIn 1s ease-in-out 1s forwards;
  }
  
  @keyframes growFromBottom {
    0% {
      transform:translateY(50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
